/* font styles import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* variable declare */
:root{
    --primary-color: #3A3A3A;
}
/* Global css */
*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background: #f0efef;
}

/* Header styles */
.header nav{
    display: flex;
    justify-content: space-between;
    padding: 87px 120px 50px 120px;
}
nav > h1{
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 700;
}
.logo .menu-icon{
    display: none;
    width: 5vw;
    height: auto;
}
.menu > ul{
    display: flex;
    gap: 34px;
}
.menu ul li{
    list-style: none;
}
.menu ul li a{
    text-decoration: none;
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 600;
}
.menu ul li a .search{
    font-size: 24px;
}
.menu ul li a .cart{
    font-size: 34px;
}
/*------------------
 Banner side styles 
--------------------*/
.banner{
    display: flex;
    width: 100%;
    height: 80vh;
}
.banner-info{
    margin: 95px 0 0 120px;
}
.banner-title{
    color: var(--primary-color);
    font-size: 52px;
    font-weight: 700;
    padding-bottom: 0;
}
.banner-description{
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 600;
    padding: 16px 0;
}
.btn-banner{
    width: 196px;
    height: 44px;
    background: #E02C6D;
    border-radius: 41px;
    border: none;
    padding: 10px 24px;
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
}
.btn-banner i{
    width: 16px;
    color: #ffffff;
    padding-left: 4px;
}
.banner-img{
    width: 475px;
    height: 475px;
    border: 4px solid #F1E4FF;
    margin-right: 130px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-img img{
    width: 440px;
    height: auto;
}

/*--------------------------
others company logos styles
----------------------------*/
.others-company-logos{
    width: 100%;
    height: fit-content;
}
.logos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 55px;
    width: 85%;
    height: 100px;
    border: 3px solid #F1E4FF;
    border-radius: 8px;
    margin: 69px auto;
}
.logos img{
    width: 91px;
    height: 38px;
}
/* Start Responsive design */

/*-----------------------------------
 Responsive styles for Mobile devices 
 ------------------------------------*/
 @media only screen and (max-width: 576px) {
    /* made header responsive */
    .header nav{
        display: inline-block;
        padding: 10vw;
    }
    .header nav .logo{
        display: flex;
        align-items: center;
        gap: 4vw;
        font-size: 5vw;
    }
    .logo .menu-icon{
        display: inline;
    }
    .menu ul{
        display: none;
    }
    /* made banner responsive */
    .banner{
        flex-direction: column-reverse;
        height: auto;
        align-items: center;
    }
    .banner-info{
        width: 85%;
        margin: 5vw auto;
        text-align: center;
    }
    .banner-title{
        font-size: 7vw;
    }
    .banner-description{
        font-size: 3vw;
    }
    .banner-description > br{
        display: none;
    }
    .btn-banner{
        width: 45%;
        height: 10vw;
        border-radius: 10vw;
        padding: 2vw 5vw;
        font-size: 3vw;
    }
    .banner-img{
        width: 75%;
        height: auto;
        border: 4px solid #F1E4FF;
        margin-right: 0;
    }
    .banner-img img{
        width: 70vw;
        height: auto;
    }
    /* made other company logos responsive */
    .logos{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 6vw;
        justify-items: center;
        width: 85%;
        height: 100px;
        margin: 7vw auto;
        border: 0;
    }
    .logos img:last-of-type{
        grid-column: 1 / -1;
    }
    .logos img{
        width: 8vw;
        height: 5vw;
    }
 }

 /*-----------------------------------
 Responsive styles for Medium devices 
 ------------------------------------*/
 @media only screen and (min-width: 577px) and (max-width: 992px) {
    /* made header responsive */
    .header nav{
        padding: 8vw 3vw 6vw 3vw;
    }
    nav .logo{
        font-size: 3vw;
    }
    .menu > ul{
        gap: 3vw;
    }
    .menu ul li a{
        font-size: 2vw;
    }
    .menu ul li a .cart{
        font-size: 4vw;
    }
    /* made banner responsive */
    .banner{
        flex-direction: column-reverse;
        height: auto;
        align-items: center;
    }
    .banner-info{
        width: 85%;
        margin: 5vw auto;
        text-align: center;
    }
    .banner-title{
        font-size: 7vw;
    }
    .banner-description{
        font-size: 3vw;
        margin-bottom: 2vw;
    }
    .banner-description > br{
        display: none;
    }
    .btn-banner{
        width: 45%;
        height: 10vw;
        border-radius: 10vw;
        padding: 2vw 5vw;
        font-size: 3vw;
    }
    .banner-img{
        width: 75%;
        height: auto;
        border: 4px solid #F1E4FF;
        margin-right: 0;
    }
    .banner-img img{
        width: 70vw;
        height: auto;
    }
    /* made other company logos responsive */
    .logos{
        display: flex;
        gap: 3.5vw;
        justify-items: center;
        width: 80%;
        height: 100px;
        margin: 7vw auto;
        border: 0;
    }
    .logos img{
        width: 8vw;
        height: 5vw;
    }
 }